{% extends 'base.html' %}

{% load static %}
{% block content %}
<header>
    <div class="header-content">

        <h1>who are we ?</h1>
        <div class="line">

        </div>

        <br>

    </div>
</header>
<br>
<div class="about-erea" id="about">

    <div class="container">

    
        <div class="row">
            <div class="col-md-6 about-left">
                <img class="img-fluid" src="{% static 'images/umuganda.jpg' %} " style="width:500px; height:400px" alt="">
            </div>

            <div class="col-md-6 about-right">
                
                <p><h2>Elim <span class="text-danger">Great Hills</span> De Jure Assembly</h2> .
                     <br>
                    Great Hills De Jure Assembly Established 
                    Augustin  2021 at Kigali City  in Rwanda. </p>
                    <h3>Our Mission</h3>
                <p><i class="fa fa-arrow-right">&nbsp;  All life is sacred and humanity is responsible for the well-being of all life on the planet.  </i></p>
                <p><i class="fa fa-arrow-right">&nbsp;  Natural Law applies to all inhabitants of this planet and beyond. </i></p>
                <p><i class="fa fa-arroq-right">&nbsp; This principle is innate within every sentient being. Therefore, all life must be engaged with love, considering the role each of us plays in the overall ecosystem of our planet </i></p>
            </div>
            </ul>
        </div>
    </div>
</div>
<br>
<br>
<div class="container">
    <div class="row ">
        <div class="col-md-4 ">
            <div class="card card-content">
                <a href="instagram" class="values-image text-center"><img class="img-fluid"  src= {% static 'images/mission.PNG' %}></a>
                <div class="card-body">
                    <h5 class="card-title text-center">Mission</h5>
                    <p class="card-text">Humanity is free and independent from the time of their birth. All rights associated with this freedom are the peoples to define</p>

                </div>
            </div>
        </div>
        <div class="col-md-4 ">
            <div class="card card-content">
                <a href="instagram" class="values-image text-center"><img class="img-fluid" src={% static 'images/vision.PNG' %}></a>
                <div class="card-body">
                    <h5 class="card-title text-center">Vision</h5>
                    <p class="card-text">Laws must be enforced, always considering the spirit of the law over the letter of the law. All actions have natural consequences, whether positive or negative..</p>

                </div>
            </div>
        </div>
        <div class="col-md-4 ">
            <div class="card card-content">
                <a href="instagram" class="values-image text-center"><img class="img-fluid" src={% static 'images/umuganda.jpg' %}></a>
                <div class="card-body">
                    
                    <h5 class="card-title text-center"> Objectives</h5>
                    <p class="card-text"><p><i class="fa fa-arrow-right">&nbsp; Humanity is free and independent from the time of their birth </i></p>
                    <p><i class="fa fa-arrow-right">&nbsp; Using Media </i></p>
                    <p><i class="fa fa-arrow-right">&nbsp;Organizing conferences </i></p>
                   
                </div>
            </div>
        </div>
    </div>
</div>
<p></p>

<br>
<div class="container">
<h3 class="about-title text-center"> Great<span class="text-danger">Hills</span>
                
    <div class="line"></div>
</h3>


</div>
<br>
{% endblock %}
